
<div>
 <button id="btnAddQue" mat-button (click)="addQuestion()">
     Add Question
 </button>
</div>
<div> 
<form id="Qform" [formGroup]='formInfo' >
    <mat-form-field>
        <input matInput  placeholder="Form Title" type="text" name="formTitle" id="formTitle"> 
    </mat-form-field>
    <mat-form-field>
        <input matInput  placeholder="Form Description" type="text" name="formDescription" id="formDescription"> 
    </mat-form-field>

</form>
</div>


<button mat-raised-button color="accent" class='btn-save' (click)='saveForm()' >Save Form</button>