*{
margin: 1% ;
padding: 0.5% ; 
display: block;
}

#btnAddQue{
background-color: blue ;
color: aliceblue
}
.formFields{
    display: block;
}

.question{
    background-color: aquamarine ;
    color: white ;
    border-radius: 5px ;
    border: 2px solid red ;
}
.multipleChoice{
    display: inline-block;
}
.material-icons{
    cursor:pointer ;
    display: inline;
}

.deleteIcon{
    float: right;
}
.btn-save{
    margin-bottom: 2% ;
    float: right;
    margin-right: 4% ;
}
