.inputField{
    display: block;
    max-width: 30%;
    margin: auto;
}
#searchBtn{
    float: right;
    padding: 0px;
    margin-top: -45px;
    cursor: pointer;
    margin-right: 70px;
}
label{
    display: block;
}
#individualQueDiv{
    margin-bottom: 20px ;
}
#btnSaveForm{
    float: right;
    margin: 5%;
}
.btn-save{
    float: right;
    margin: 5%;   
}
input{
    width: 90%;
}

*{
    margin: 1% ;
    padding: 0.5% ; 
    display: block;
    }
    
    #btnAddQue{
    background-color: blue ;
    color: aliceblue ;
    position: fixed;
    z-index: 1;
    }
    .formFields{
        display: block;
    }
    
    .question{
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        border: 0px;
    }
    .multipleChoice{
        display: inline-block;
    }
    .material-icons{
        cursor:pointer ;
        display: inline;
    }
    
    .deleteIcon{
        float: right;
        margin-top: 0px;
    }
    .btn-save{
        margin-bottom: 2% ;
        float: right;
        margin-right: 4% ;
    }
    .verticalSeparator {
        float: right;
        background-color: red ;
        height: 1rem;
        margin-top: 1%;
        /* width: 0.01% ; */
        border-radius: 10% ;
        padding: 0.9px;
    
    }
    
    #requiredInp{
        display: inline-block;
        /* float: right;    */
    }
    .pretty{
        /* background-color: black; */
        display: inline-block;
        float: right;
        margin-top: 0.5% ;
    }
    .extrasDiv{
        /* display: inline; */
    }

    .dropdown-div{
        width: 100%;
    }
    .question-text{
        display: inline-block;
        padding: 0%; 
        margin:0%;
        margin-bottom: 1%;
        font-size: 150%;
     }
     .gotError{
        -webkit-box-shadow: 0px 1px 5px 0px rgba(242,24,38,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(242,24,38,1);
    box-shadow: 0px 1px 5px 0px rgba(242,24,38,1);
    }
    
    .errorText{
        color: red;
        font-size: 80% ;
        display: block;
        width: 200%;
    }
    
    .hideError{
        display: none ;
    }
     