<mat-form-field class="inputField">
  <input matInput type="text" (keydown.enter)="getForm()"  placeholder="form  name" id='formName'>
  <button mat-button   matSuffix mat-icon-button class="material-icons"  (click)="getForm()">
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>


<div *ngIf='gotDataFlag' >
   
    <button id="btnAddQue" mat-raised-button color="primary" (click)="addQuestion()">Add Question</button>
    
    <label for="formTitle">Title</label>
    <mat-form-field>
       <input matInput  value="{{FormData.formTitle}}" type="text" name="formTitle" id="formTitle"> 
   </mat-form-field>
    <label for="formDescription">Description</label>
    <mat-form-field>
    <input matInput  value="{{FormData.formDescription}}" type="text" name="formDescription" id="formDescription"> 
   </mat-form-field>

    <form id="oldForm" [formGroup]='oldFormInfo'>
        <mat-card  id="Q-{{question.queNum}}"   [ngSwitch]='question.qType' *ngFor='let question of FormData.QuestionsArray' >
          <i class="material-icons deleteIcon" id="delQ-{{question.queNum}}" (click)='deleteQueDiv(question.queNum)'> delete </i>
             <mat-card-title>Question</mat-card-title>
              <mat-form-field>
                <input id='{{question.qNumber}}' value='{{question.question}}' type="text" name='question.qNumber' matInput>
            </mat-form-field>    
    <div *ngSwitchCase='"shortAnswer"' >
          <mat-form-field>
            <input disabled matInput type="text" name="shortAnswer" placeholder="your answer here">
          </mat-form-field>
        </div> 
        <div  *ngSwitchCase='"longAnswer"' >
            <textarea name="something" id="nothing" cols="30" rows="5" disabled matInput placeholder="your answer here" ></textarea>
        </div>  
       
        <div *ngSwitchCase='"multipleChoice"' >
        <div *ngFor='let subQue of question.subQuestions; index as subQIndex' >
            <i class="material-icons"> radio_button_unchecked </i>
            <input id='SubQ-{{question.queNum}}-{{subQIndex +1}}' value='{{subQue}}' type="text" name='question.qNumber' matInput>            
            <i class="material-icons" (click)='removeOldFormOption($event,question.queNum)' >remove_circle_outline</i>
        </div>
            <div>
                    <i class="material-icons" (click)="insertOldFormOption($event,'multipleChoice',question.queNum)">add_circle</i>
                    <span> add another option </span>
            </div>      
        </div> 
        <div  *ngSwitchCase='"date"' >           
            <mat-icon matSuffix>date_range</mat-icon>
        </div>   
        <div  *ngSwitchCase='"time"' >
            <mat-icon matSuffix>access_time</mat-icon>
        </div>   
       <div   *ngSwitchCase='"checkbox"'>
             <div  *ngFor='let subQue of question.subQuestions; index as subQIndex' >
                    <i class="material-icons"> check_box_outline_blank</i>    
                <input id='SubQ-{{question.queNum}}-{{subQIndex +1}}' matInput value="{{subQue}}" type="TEXT" name="SubQ-{{subQIndex}}" >                   
                    <i class="material-icons" (click)='removeOldFormOption($event,question.queNum)' >remove_circle_outline</i>
                </div>
                <div>
                        <i class="material-icons" (click)="insertOldFormOption($event,'checkbox',question.queNum)">add_circle</i>
                        <span> add another option </span>
                </div>
       </div>
        <div  *ngSwitchCase='"dropdown"' >       
                <div  *ngFor='let subQue of question.subQuestions; index as subQIndex' >   
                    <input id='SubQ-{{question.queNum}}-{{subQIndex +1}}' matInput value="{{subQue}}" type="TEXT" name="SubQ-{{subQIndex}}" >                   
                        <i class="material-icons" (click)='removeOldFormOption($event,question.queNum)' >remove_circle_outline</i>
                    </div>
                    <div>
                            <i class="material-icons" (click)="insertOldFormOption($event,'dropdown',question.queNum)">add_circle</i>
                            <span> add another option </span>
                    </div>
        </div>
        <div   *ngSwitchCase='"uploadFile"' >
            <mat-icon>cloud_upload</mat-icon>    
        </div>

  </mat-card>
</form>
<form id="Qform" [formGroup]='newFormInfo'>

</form>
<button mat-raised-button color="accent" class='btn-save' (click)='saveForm()' >Save Form</button>

</div>
